* {
	box-sizing: border-box;
}


h1 {
    color: rgb(0, 255, 238);
    background: white;
    font-family: 'Times New Roman', Times, serif;
    font-size: 60px;
    text-align: center;
    padding: 10px;
}

h2 {
    color: rgba(0, 255, 145, 0.423);
    font-size: 40px;
    background: ghostwhite;
    font-family: 'Times New Roman', Times, serif;
}
h3 {
    color: rgba(0, 255, 145, 0.423);
    font-size: 20px;
    background: ghostwhite;
    font-family: 'Times New Roman', Times, serif;
}





img {
    min-height: 100px;
    min-width: 400px;
    margin: 5px;
    padding: 10px;
}